Code/api-maestra-gestion.json
{
  "name": "api-maestra-gestion_v2.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "master-gestion",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-master-gestion",
      "name": "Webhook (Master Gestion)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\nconst action = body.action;\nlet sql = '';\n\nswitch(action) {\n  case 'enviar_correo':\n    sql = `UPDATE mensajes_entrantes SET estado_ticket = 'RESUELTO' WHERE thread_id = '${body.thread_id}'; \\n           INSERT INTO mensajes_entrantes (remitente, asunto, mensaje, cuenta_empresa, carpeta, thread_id, leido, de_operador, estado_ticket) \\n           SELECT cuenta_empresa, 'Re: ' || asunto, '${body.mensaje}', cuenta_empresa, 'sent', thread_id, true, true, 'RESUELTO' \\n           FROM mensajes_entrantes WHERE thread_id = '${body.thread_id}' LIMIT 1 RETURNING *;`;\n    break;\n  case 'mover_papelera':\n    sql = `UPDATE mensajes_entrantes SET carpeta = 'trash' WHERE thread_id = '${body.thread_id}' RETURNING *;`;\n    break;\n  case 'marcar_leido':\n    sql = `UPDATE mensajes_entrantes SET leido = true WHERE thread_id = '${body.thread_id}' RETURNING *;`;\n    break;\n  case 'asignar_ticket':\n    sql = `UPDATE mensajes_entrantes SET asignado_a = ${body.operador ? \"'\" + body.operador + \"'\" : 'NULL'}, estado_ticket = ${body.operador ? \"'ASIGNADO'\" : \"'PENDIENTE'\"} WHERE thread_id = '${body.thread_id}' RETURNING *;`;\n    break;\n  case 'guardar_borrador':\n    sql = `INSERT INTO mensajes_entrantes (remitente, asunto, mensaje, cuenta_empresa, carpeta, thread_id, leido, de_operador) \n           SELECT cuenta_empresa, 'Re: ' || asunto, '${body.mensaje}', cuenta_empresa, 'drafts', thread_id, true, true \n           FROM mensajes_entrantes WHERE thread_id = '${body.thread_id}' LIMIT 1 RETURNING *;`;\n    break;\n  case 'crear_grupo':\n    sql = `INSERT INTO grupos (nombre, descripcion, tipo, color) VALUES ('${body.nombre}', '${body.descripcion || ''}', '${body.tipo || 'empresa'}', '${body.color || '#4f46e5'}') RETURNING *;`;\n    break;\n  default:\n    sql = 'SELECT 1;';\n}\n\nreturn [{ json: { sql, action } }];"
      },
      "name": "Router Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.sql}}",
        "options": { "alwaysOutputData": true }
      },
      "id": "postgres-exec-gestion",
      "name": "PostgreSQL (Exec)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": { "postgres": { "id": "1", "name": "PostgreSQL Local" } }
    }
  ],
  "connections": {
    "Webhook (Master Gestion)": { "main": [[{ "node": "Router Logic", "index": 0 }]] },
    "Router Logic": { "main": [[{ "node": "PostgreSQL (Exec)", "index": 0 }]] }
  },
  "active": true,
  "settings": {}
}
