Code/api-registro-cuentas.json
{
  "name": "API - Registro de Cuentas (Panel Admin)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-cuenta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "webhook-reg",
      "name": "Webhook: Recibir Datos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO cuentas_email (nombre_operador, email, password_app, rol) \nVALUES ('{{ $json.body.nombre }}', '{{ $json.body.email }}', '{{ $json.body.password }}', '{{ $json.body.rol }}')\nRETURNING id;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ],
      "id": "db-insert",
      "name": "Guardar en Postgres",
      "credentials": {
        "postgres": {
          "id": "NUEVA_CREDENCIAL_POSTGRES",
          "name": "Postgres Local (Docker)"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        0
      ],
      "id": "response-ok",
      "name": "Responder OK"
    }
  ],
  "connections": {
    "Webhook: Recibir Datos": {
      "main": [
        [
          {
            "node": "Guardar en Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Postgres": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}